<div class="p-2">
  <h1><%= "#{t('edit')} #{t('mining_type')}" %></h1>
  <%= render "form", mining_type: @mining_type %>
  <br>
  <div>
    <%= link_to "#{t('show')} #{t('mining_type').downcase}", @mining_type %> |
    <%= link_to "#{t('back')}", mining_types_path %>
  </div>
</div>
