<div id="<%= dom_id coin %>">
  <p>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Acronimo:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Imagem:</strong>
    <img src="<%= coin.url_image %>" width="50px"/>
  </p>

</div>
