<p style="color: green"><%= notice %></p>

<h1>Moedas</h1>

<div id="coins">
  <% @coins.each do |coin| %>
    <% puts "coin:::::",coin.inspect %>
    <%= render coin %>
    <p>
      <%= link_to "Show this coin", coin %>
    </p>
  <% end %>
</div>

<%= link_to "New coin", new_coin_path %>
